<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <a href="http://streetdate.info">StreetDate.info</a> is a tool to keep you 
  up to date on releases by your favorite artists. 
  
  Just sign up for an account and make a list. We'll notify you via email when 
  something new comes out.
  <br><br>
  We'll keep emails to a minimum and will never share your information 
  with anyone. 
</p>