<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Email <a href="mailto:eli@streetdate.info" target="_blank">me</a> with questions or suggestions. Be nice.
</p>
<p>
	We're on Twitter: <a href="https://twitter.com/StreetDateInfo" target="_blank">@StreetDateInfo</a>
</p>