<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  So far this is fairly self-explanatory. We will expand this section 
  as we add features and functionality.
  
  In the meantime, contact <a href="mailto:edrain@gmail.com">me</a> 
  if you need anything.
</p>