<%= form_tag(:controller => "list_items", :action => "create", :method => "post") do %>
  <div><%= hidden_field_tag :user_id, current_user.id %></div>
  <div><%= hidden_field_tag :artist_id, @artist_id %></div> 
  <br>
 <%= submit_tag "Add", class: "btn btn-large btn-primary" %>
<% end %>

