<%= form_tag(:controller => "list_items", :action => "create", :method => "post") do %>
  <div><%= hidden_field_tag :user_id, current_user.id %></div>
  <br>
 <%= submit_tag "View List", class: "btn btn-large" %>
<% end %>

