<br>
<%= form_tag url_for(:controller => "list_items", :action => "show"), :method => "get" do %>
  <div><%= hidden_field_tag :id, current_user.id %></div>
  <%= submit_tag "View List", class: "btn btn-large" %>
<% end %>
